{% extends "template.twig" %}

{% block content %}
    <div class="container">
        {{ message }}
        <br>
        <button onclick="window.open('/root', '_parent')">ROOT</button>
    </div>
{% endblock %}