<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.twig" %}
</head>
<body>

<div class="intro">
    <h2>This app deals with request methods</h2>
    <h3>and counting connections for different methods</h3>
    <h4>Lets start!</h4>
</div>

{% block content %} {% endblock %}

<div class="footer">
    <h5>&copy;ZiemoAndrzejewski 2018</h5>
</div>

</body>
</html>